#app 
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 60px;

ul 
  list-style-type: none;
  padding: 0;

li {
  list-style: none;
  cursor: pointer;
}

.router 
  width: 100%;
  display: flex;
  justify-content: space-around;

.title-button 
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

.card
  border 1px solid gray;
  border-radius: 4px;
  margin-top: 20px;

.button 
  padding: 10px 20px;
  border-radius: 5px;
  background: green;
  color: #fff;
  margin: 5px auto;
  outline: none;
  border: 0;
  max-width 200px
  cursor: pointer;

.active 
  background-color: #2392f0;

